.category-div{
    /* width: 300vw; */

    /* display: grid;
    grid-template-columns: 3fr 1fr; */
    
    /* grid-auto-rows: 400px; */
    
}
.level-div{
    width: 300px;
    display: flex;

}
.subject-div{
    width: 300px;
    display: flex;
    align-content: center;
    

}
.category-div >div{
    grid-column: 1/ 2;
    /* grid-row: 1/ 2; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-content: center; */
    width: 80%;
    height: 15%;
    padding: 30px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin: 50px auto;
}
.category-div button{
    /* height: 50px;
    width: 100px; */
    border: 3px solid lightgrey;
    border-radius: 25px;
    display: inline;
    margin: 10px;
}
.submit-btn-home{
    border: 3px solid lightgrey;
    border-radius: 25px;
    display: inline;
    margin: 10px;
    /* height: 50px;
    width: 300px; */

}
/* .question-div{
    height: 100px;
    width: 500px;
    background-color: lightpink;
}
.answer-div{
    height: 500px;
    width: 300px;
    background-color: lightpink;
} */
