@font-face {
    font-family: 'Julius Sans One', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap");
  }
@font-face {
    font-family: 'Jura', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Jura&display=swap");
  }
@font-face {
    font-family: 'Saira Condensed', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap");
  }
@font-face {
    font-family: 'Bahianita', cursive;
    src: url("https://fonts.googleapis.com/css?family=Bahianita&display=swap");
  }
