.bar1-false, .bar2-false, .bar3-false {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
.backgroundburger {
    width: 35px;
    height: 5px;
    background-color: white;

}
  .bar1-true {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    width: 35px;
    height: 5px;
    background-color: white;
  }

 .bar2-true{
    opacity: 0;
  }

 .bar3-true {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(-135deg) translate(-5px, -5px);
    width: 35px;
    height: 5px;
    background-color: white;
  }