form{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 6;
    grid-row: 3/ 4
}
.resources-form-div{
    align-content: center;
    padding: 10px;  
    height: 50vh;
}
.resources-overlay{
    background-color: rgb(255, 255, 255,0.5);
    padding:5px;
    height:97%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2pt;
    line-height: 1.6;
    font-size: 20px;
}
.resource-page-div h2{
    margin: 50px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2pt;
    line-height: 1.6;
    font-size: 20px;
    color: black;
    -webkit-animation: fadein 15s;
    text-shadow:1px .3px 4px #343E42 ;
}
.resource-page-div h1{
    margin-top: 10px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2pt;
    line-height: 1.6;
}
.resource-page-div h3{
    margin: 0 50px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1pt;
    line-height: 1.6;
    font-size: 15px;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.resources-form{
    display: flex;
}
.resource-page-div{
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1535058314881-56b6eb96bd69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-repeat: no-repeat;
    background-size: cover   
}
.seprate-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}
.resources-books-div{
    height: 350vh;
    width: 100vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: linear-gradient(to right, rgb(175, 169, 169) , white)
   
}
@media (max-width: 736px){
    .resources-books-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resource-page-div{
        background-image: url('https://images.unsplash.com/photo-1510172951991-856a654063f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
        background-repeat: no-repeat;
        background-size: cover;
        height: 170vh;
    }
}
