*{
    margin: 0;
    padding: 0;
    
}

.wrapDiv{
    
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    /* grid-auto-rows: 200px;  */
    margin: 10px;
    background-color: #F5E4ED; 
    
}

h1{
    grid-column: 2;
   margin: 30px 10px;
   height: 50px;
   text-align: center
}

#formDiv{
    grid-column: 2;
    width: 97%;
    height: 300px;
    background-color: #F9EFF4;

    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius: 5%;
    text-align: center; 
    display: block;
    
  

}
input{
    width:80%;
    height:20px;
    /* background-color: #F2D4CC; */
    border-radius: 15px;
    border: 1px solid lightgrey;
    margin: 10px auto 10px auto;
    display: block;
    padding: 10px;
    align-self: center;

}

::placeholder{
    color: #936F0B;
    text-align: center;
    font-family: sans-serif;
}


.todoDiv{
    width: 80%;
    border: 1px solid lightgray;
    background-color: #F7E7E7;
    border-radius: 10px;
    margin: 20px auto 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
      
}
.subDiv{
    display: flex;
    width: 50%;
    border: 1px solid tomato;
    padding:5px
}

 h3 {
    background: lightgreen;
    border: 1px;
    /* font-size: 2em; */
}
.checkBoxStyle{
    padding: 0;
    margin: 0;
    width:10%;
}
#myTodoDiv{
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;
    width:100%;
    margin: 10px;
}


#myTodoDiv{
    display: inline;
    grid-column: 2;
}

.delBtn{
    width:85%;
    height: 40px;
    border-radius: 15px;
}
.editBtn{
    width:85%;
    height: 40px;
    border-radius: 15px;
    margin: 10px

}
#subBtn{
    width:85%;
    height: 40px;
    border-radius: 15px;
    margin: 5px
}
p{
    width: 60%;
    height: 100px;
    text-align: start;

}






