*{
    margin: 0;
    padding: 0;
}
/* 
fonts
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Abel', sans-serif;
 */
/* ********************* Entire SPA ********************** */
.particles-background{
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1 */

}
.all-warper{
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
}


.navbar{
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
}
.toolbar-navigation{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;   
}
.gap {
    flex: 1
}
.toolbar-nav-items >a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(250, 174, 174);
    /* margin: 5px; */
    padding: 10px;
    transition: 1000ms;
}
.toolbar-nav-items a:hover,
.toolbar-nav-items a:active {
    color: rgb(128, 226, 233);
    background-color: rgba(128, 128, 128, 0.466);
}
/* ******************** DrawerToggleBtn ********************* */
.toggle-button {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    margin-bottom: 1px;
    height: 25px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    z-index: 10;
}
.toggle-btn-burger{
    width: 30px;
    height: 3px;
    background-color: rgba(143, 241, 237, 0.959);
}
/* ********************   Sidedrawer   ************************ */
.side-drawer {
    height: 100%;
    /* background-color: #1a1a1a; */
    background-color: rgba(26, 26, 26, 0.96);
    box-shadow: 2px 0 2px #c8dbda80;
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    max-width: 400px;
    transition: 0.7s ease-out;
    z-index: 20
}
.side-drawer.open {
    transform: translatex(0);
    left: 0px;

}
.sidedrawer-close-btn{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    color: white;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    transition: 1000ms;
}
.side-drawer a{
    /* height: 100%; */
    text-decoration: none;
    margin-bottom: 100px;
    display: flex;
    justify-content: center ;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 20px;
    color: white;
    transition: 500ms;
}
.collection-sec{
    display: none;
}
.sidedrawer-close-btn:hover{
    color: rgb(241, 145, 134);
}

.side-drawer a:hover,
.side-drawer a:active {
    color: rgb(241, 145, 134);
}
/* ********************    Home    ****************************** */
.home-div{
    background-color: #1a1a1a;
    width: 100%;
    z-index: 2
}
/* flexbox and grid work on direct child */
.intro-div{
    display: grid;
    color: rgba(255, 255, 255, 0.918);
    display: grid;
    grid-template-columns: 55px 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 300px;

}
.intro-div h1{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    grid-column: 2/3;
    grid-row: 2/3;
    
}
.intro-div h1:hover{
    color: rgb(90, 252, 252);
    transition: 0.7s ease-out;
}
.intro-div h3{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    grid-column: 2/4;
    grid-row: 3/ 4;
}
.intro-div h3:hover{
    color: rgb(90, 252, 252);
    transition: 0.7s ease-out;
}
.intro-div h4{
    font-family: 'Anton', sans-serif;
    font-size:20px;
    grid-column: 2/4;
    grid-row: 3/ 4;
    margin-top: 35px;
    color: rgb(207, 174, 154);

}
.intro-div h4:hover{
    color: rgb(252, 149, 90);
    transition: 0.7s ease-out;
}
.skills-div{
    grid-column: 1/4;
    grid-row: 4/ 6;
    display: grid;
    padding: 20px;
    margin-left: 18px;

}
.skills-div >h1{
    font-family: 'Anton', sans-serif;
    grid-column: 1/4;
    grid-row: 1/ 2;
    height: 100px;
    text-align: center;
    font-size: 80px;
    letter-spacing: 1.5pt;
    color: rgba(255, 255, 255, 0.918);
}
.skills-div >h1:hover{
    color: rgb(90, 252, 252);
    transition: 0.3s ease-in-out;
}
.skills-div >div{
    color: rgb(207, 174, 154);
    font-family: 'Oswald', sans-serif;
    border:1px solid rgba(35, 185, 190, 1) ;
    margin:5px;
    padding: 10px;
    max-height: 100px;
    max-width: 150px;
    text-align: center;

}
.skills-div >div:hover{
    
    /* font-size: 15px; */
    color: rgb(90, 252, 252);
    transition: 0.7s ease-out;

}

/* ***************************  About   ****************************** */
.about-div{
    padding: 10px;
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
}
.prof-img-div{
    background-image: url('./images/moipic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black ;
    width: 40vw;
    height: 50vh;
    margin-left: 150px;
    z-index: 5
    /* -webkit-mask: linear-gradient(70deg, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 50%); */
    /* padding: 20px auto; */
}
.enjoy-div {
  font-family: 'Russo One', sans-serif;
    color: rgba(255, 255, 255, 0.918);
    display: flex;
    margin: 50px auto ; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    letter-spacing: 1pt;
}

.text-div-about >h1{
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}
.text-div-about >h5{
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    margin-left: 9px;
}
.resume-div{
    margin: 30px 0 30px 12px;
    max-height: 200px;
    align-items: flex-end;
    padding: 20px;
    border: 1px solid white;
    transition: 500ms;  
}
.resume-wrapper-div{
    z-index: 5;
}
.resume-wrapper-div >a{
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
    color: rgb(105, 231, 225);
    max-height: 120px;
    margin-top: 250px;

}
.resume-div:hover{
    color: rgba(189, 148, 199, 0.849);
    /* box-shadow: 7px 8px 4px -2px rgba(165,72,50,0.69) */
}
/* *********************************  projects ************************* */
.projects-div{
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;  
}

.projects-div h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 100px;
    margin:0 0 10px 20px ;
    /* margin-bottom: 50px; */
    font-size: 40px;
    
}
.project-discription{
    width: 80%;
    height: 20vh ;
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin-left: 50px;
    letter-spacing: 1px;
   
}
.project-discription >p{
    margin-bottom: 30px;
}
/* the z-index only works directly on the div and not necessarly the container div */
.u-triv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;

}
.u-triv >h2{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
}
.proj-utri-img{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 100vw;
    margin-top: 50px

}

.utriv-snap{
    width: 75vw;
    height:55vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    transition: 200ms;
    
}
.utriv-snap:hover{
    /* box-shadow: -7px 0px 6px 4px rgba(162,167,170,0.64); */
   opacity: 0.7
}
.utriv-snap.utriv-home-page{
    background-image: url(./images/utriv1.png);
}
.utriv-snap.utriv-trivia-page{
    background-image: url(./images/triviapage.png)
}
.utriv-snap.utriv-about-page{
    background-image: url(./images/utriv3.png)
}
.instagram-clone-div{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.instagram-clone-div >h2{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 50px;
    max-height: 100px

}
.instagram-clone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}

.insta-snap{
    width: 75vw;
    height:55vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px ;
    transition: 200ms;
}
.insta-snap:hover{
    opacity: 0.5;
    
}
.insta-snap.insta-signup-page{
    background-image: url(./images/signup.png);
    margin-top: 100px
}
.insta-snap.insta-home-page{
    background-image: url(./images/feed.png)
}
.insta-snap.insat-profile-page{
    background-image: url(./images/prorile.png)
}
/* ******************** Contact *************** */
.contact-div{
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 5;

}
.contact-div >h1{
    margin-left: 40px ;
    grid-column: 1/ 4;
    grid-row: 2/ 3;
    text-align: left;
    line-height: 35px;
    font-size: 40px
}
.contact-info{
    grid-column: 3/ 4;
    grid-row: 2/ 3;
    margin: 40px 45px 0 0;
    
  
   
}
.contact-info >p{
    font-size: 15px ;
    
}
/* **********************  Footer ****************** */

.footer-div{
    border-top: 1px solid rgba(128, 128, 128, 0.363);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.social-media{
    
    display: flex;
    justify-content: center;    
}
.social-media a{
    text-decoration: none;
    color: white;
    width: 80px;
    /* margin: 5px; */
    padding: 5px;
    text-align: center;
    transition:  1s

}
.social-media a:hover{
    color: rgb(116, 248, 239);
    background-color: rgba(128, 128, 128, 0.384);
    
   
}


/* *************************  mobile size ***************************** */
@media (max-width: 760px){
    .toolbar-nav-items{
        display: none;
    }
    .collection-div{
        display: none;
    }
}

/* ****************************** desktope size  ******************** */

@media (min-width: 760px){
    .toggle-button{
        display: none;
    }
    .toolbar-nav-items >a{
        font-family: 'Oswald', sans-serif;
    }
    /* ******************** home ********** */
    .image-div{
        height: 15vh;
        width: 45vw;
        background-color: rgba(0, 255, 255, 0.808);
        transform: skewY(20deg);
        
    }
    .image-div2{
        height: 15vh;
        width: 35vw;
        margin: 0 auto;
        background-color: rgba(255, 102, 0, 0.774);
        /* transform: skewY(-20deg); */
        /* transform: rotate(-20deg); */
        grid-column: 3/4;
        grid-row: 3/ 4;
    }
    .image-div3{
        height: 50vh;
        width: 2vw;
        background-color: rgba(245, 162, 37, 0.774);
        /* transform: skewY(20deg); */
        grid-column: 3/4;
        grid-row: 1/ 4;
        margin-right: 10px;

    }
    .image-div4{
        height: 50vh;
        width: 2vw;
        margin-left: 80px;
        margin-top: 100px;
        background-color: rgba(105, 221, 202, 0.7);
        /* transform: skewY(20deg); */
        grid-column: 3/4;
        grid-row: 1/ 5;
        margin-right: 10px;
    }
    .image-div5{
        height: 50vh;
        width: 2vw;
        margin-left: 150px;
        margin-top: 250px;
        background-color: rgba(105, 221, 202, 0.7);
        /* transform: skewY(20deg); */
        grid-column: 3/4;
        grid-row: 1/ 5;
        margin-right: 10px;
    }
    .skills-div{
        
        margin-left: 50px ;
        margin-bottom: 100px;
        /* border: 2px solid white; */
        width:50vw;
        height: 50vh;
        display: flex;
        flex-direction: row;
        box-shadow: 12px 6px 18px 0px rgba(110,145,142,0.2)
    }
    .skills-div >div{
        display: none;

    }
    .skills-div >h1:hover{
        color: rgba(35, 185, 190, 1);
    }
    .collection-sec {
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        /* height: 50vh;
        width: 20%; */
        margin: 80px 0 0 10px;
        color: rgb(207, 174, 154);
        font-family: 'Oswald', sans-serif;
    }
    .collection-sec >div{
        margin: 5px;
        border-bottom: 1px solid  rgba(35, 185, 190, 1);
        padding-bottom: 0;
        text-align: center;
        display: flex;
        align-items: flex-end
    }
   
    /* ********************** About desktop size ***************** */
    .enjoy-div{
        display: grid;
        grid-template-columns: 300px 450px 1fr;
        width: 100vw;
    }
    .resume-div{
        grid-column: 1/2;
        margin: 100px 30px;
        max-width: 20vw;     
        
    }
    .prof-img-div{
        grid-column: 3/ 4;
        margin-left: 0;
        margin-top: 30px;
        width: 25vw;
    }
    .text-div-about{
        grid-column: 2 /3;
        grid-row: 1/ 2;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center
        /* align-items: center */

    }
    
    .enjoy-div >h5{
        grid-column: 2 /3;
        grid-row: 1/ 2;
        line-height: 5pt   
    }
    
    /* **************** */
    .projects-div >h1{
        margin: 50px

    }
    .u-triv{
        margin-left: 80px auto;
    }
    .utriv-snap{
        width: 20vw;
        height:45vh;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 5px;
    }
    .proj-utri-img{
        display: flex;
        flex-direction: row;
        justify-content: center;

        
    }
    .instagram-clone-div{
        margin-left: 100px auto;
    }
    .instagram-clone{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
    .insta-snap{
        width: 20vw;
        height:45vh;
        background-size: cover
    }
    .insta-snap.insta-signup-page{
        margin-top: 10px
    }
    /* ***************** Contact *********** */
    .contact-div{
        grid-template-columns: 230px;
        margin: 0px 5px 0 10px;

    }
    .contact-info{
        margin: 0 150px ;
        grid-column: 2/ 3
    }  
}

/* *********** iPhone 5/SE screen size */

@media (max-width: 568px){
    .side-drawer{
        width: 300px;
    }
    .intro-div h1{
        font-size: 60px; 
    }
    .intro-div h3{
        font-family: 'Anton', sans-serif;
        font-size: 25px;
    }
    .skills-div >h1{
        font-size: 60px;
    }
    .skills-div >div{
        width: 70px;
        margin: 0;
        font-size: 15px;
    }
    .prof-img-div{
        height: 30vh;
        width: 40vw;
    }
    .text-div-about >h1{
        font-size: 30px;
    }
    .text-div-about >h5{
        font-size: 10px;
    }
    /* ********* Projects Page ******/
    .projects-div h1{
        font-size: 30px;
        margin: 0 0 10px 50px ;

    }
    .proj-utri-img{
        margin-top: 100px;
    }
    .instagram-clone{
        margin-top: 100px;
    }
    .contact-div >h1{
        font-size: 30px;
    }
    .social-media{
        margin-left: 7px;
    }
    .social-media a{
        width: 70px;
        padding: 5px;   
    } 

}
/* @media (max-width: 812px) and (min-width: 570px){
    .prof-mg-div{
        width: 40vw;
        height: 30vh;
    }
    .enjoy-div{
        height: 60vh;
    }
} */
