*{
    margin: 0;
    padding: 0;
}
/* 
fonts
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Russo One', sans-serif;
 */
/* ********************* Entire SPA ********************** */
.all-warper{
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr; */
    
}
.navbar{
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    /* it helps keep the bar top */
    /* background-color: #1a1a1a; */
}
.toolbar-navigation{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    
    
}
.gap {
    flex: 1
}
.toolbar-nav-items >a{
    text-decoration: none;
    color: rgb(250, 174, 174);
    margin: 5px;
}
.toolbar-nav-items a:hover,
.toolbar-nav-items a:active {
    color: rgb(128, 226, 233);
}
/* ******************** DrawerToggleBtn ********************* */
.toggle-button {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    margin-bottom: 1px;
    height: 25px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}
.toggle-btn-burger{
    width: 30px;
    height: 3px;
    background-color: rgba(143, 241, 237, 0.959);
}
/* ********************   Sidedrawer   ************************ */
.side-drawer {
    height: 100%;
    background-color: #1a1a1a;
    box-shadow: 2px 0 2px rgba(100, 240, 233, 0.5);
    position: fixed;
    top: 0;
    left: -500px;
    width: 900px;
    max-width: 400px;
    transition: 0.7s ease-out;
    /* transform: translatex(-100%) */
}
.side-drawer.open {
    transform: translatex(0);
    left: 0px;

}
.sidedrawer-close-btn{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    color: white;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.side-drawer a{
    /* height: 100%; */
    text-decoration: none;
    margin-bottom: 100px;
    display: flex;
    justify-content: center ;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 20px;
    color: white;
}
.collection-sec{
    display: none;
}
.sidedrawer-close-btn:hover{
    color: rgb(241, 145, 134);
}

.side-drawer a:hover,
.side-drawer a:active {
    color: rgb(241, 145, 134);
}
/* ********************    Home    ****************************** */
.home-div{
    background-color: #1a1a1a;
    width: 100%;
}
/* flexbox and grid work on direct child */
.intro-div{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* min-height: 50vh; */
    /* line-height: 400% */
    color: rgba(255, 255, 255, 0.918);
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 400px;

}
.intro-div h1{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 0px;
    
}
.intro-div h1:hover{
    color: rgb(90, 252, 252);
    transition: 0.7s ease-out;
}
.intro-div h3{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    grid-column: 2/4;
    grid-row: 3/ 4;
}
.intro-div h3:hover{
    color: rgb(90, 252, 252);
    transition: 0.7s ease-out;
}
.intro-div h4{
    font-family: 'Anton', sans-serif;
    font-size:20px;
    grid-column: 2/4;
    grid-row: 3/ 4;
    margin-top: 60px;
    color: rgb(207, 174, 154);

}
.intro-div h4:hover{
    color: rgb(252, 149, 90);
    transition: 0.7s ease-out;
}
.skills-div{
    padding: 15px;
    grid-column: 1/4;
    grid-row: 4/ 6;
    display: grid;
    margin-left: 30px;
    margin-right: 20px;
    /* grid-template-columns: 10; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr ; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}
.skills-div >h1{
    font-family: 'Anton', sans-serif;
    grid-column: 1/4;
    grid-row: 1/ 2;
    height: 100px;
    text-align: center;
    font-size: 80px;
    letter-spacing: 1.5pt;
    color: rgba(255, 255, 255, 0.918);
}
.skills-div >h1:hover{
    color: rgb(197, 125, 77);
    font-size: 55px;
    color: rgb(90, 252, 252);
    transition: 0.3s ease-in-out;
}
.skills-div >div{
    color: rgb(207, 174, 154);
    font-family: 'Oswald', sans-serif;
    border:1px solid rgb(35, 185, 190) ;
    margin:5px;
    padding: 10px;
    max-height: 100px;
    max-width: 150px;
    text-align: center;

}
.skills-div >div:hover{
    
    /* font-size: 15px; */
    color: rgb(90, 252, 252);
    transition: 0.7s ease-out;

}

/* ***************************  About   ****************************** */
.about-div{
    padding: 10px;
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
    

    /* height: 100vh; */
}
.enjoy-div {
  font-family: 'Russo One', sans-serif;
    color: rgba(255, 255, 255, 0.918);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    letter-spacing: 1pt
    /* height: 100vh; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 200px; */

}
.enjoy-div a{
    text-decoration: none;
    color: rgb(105, 231, 225);
    max-height: 100px;
    margin-top: 15px

}
.resume-div{
    margin: 12px 13px;
    align-items: flex-end;
    padding: 20px;
    border: 1px solid white;
}
.enjoy-div >h1{
    /* grid-column: 2/ 3;
    grid-row: 3/ 4; */
    /* font-family: 'Russo One', sans-serif; */
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}
.enjoy-div >h5{

    padding: 5px;
    font-family: 'Oswald', sans-serif;
    margin-left: 9px;

}
/* *********************************  projects ************************* */
.projects-div{
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
    
}

.projects-div h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 100px;
    margin-bottom: 50px;
    font-size: 50px;
    
}
.u-triv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.u-triv >h2{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
}
.proj-utri-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.utriv-snap{
    width: 30vw;
    height:35vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2px;
    z-index: 10;
}
/* .utriv-snap:hover{
    width: 40vw;
    height: 45vh;
} */
.utriv-snap.utriv-home-page{
    background-image: url(./images/utriv1.png);
    margin-left: 15px
}
.utriv-snap.utriv-trivia-page{
    background-image: url(./images/triviapage.png)
}
.utriv-snap.utriv-about-page{
    background-image: url(./images/utriv3.png)
}
.instagram-clone-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.instagram-clone-div >h2{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 50px;
    max-height: 100px

}
.instagram-clone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.insta-snap{
    margin-top:5px;
    width: 30vw;
    height: 35vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2px;
    /* border: 2px solid black; */
    /* border-radius: 20px; */


}
.insta-snap:hover{
    width: 40vw;
    height: 45vh;
    
}
.insta-snap.insta-signup-page{
    background-image: url(./images/signup.png);
    margin-left: 15px
}
.insta-snap.insta-home-page{
    background-image: url(./images/feed.png)
}
.insta-snap.insat-profile-page{
    background-image: url(./images/prorile.png)
}
/* ******************** Contact *************** */
.contact-div{
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.contact-div h1{
    grid-column: 1/ 3;
    grid-row: 2/ 3;
    text-align: right;

    line-height: 35px;
    font-size: 50px
}
.contact-info{
    grid-column: 3/ 4;
    grid-row: 2/ 3;
    margin: 80px 20px 0 0;
    
  
   
}
.contact-info >p{
    font-size: 15px ;
    
}
/* **********************  Footer ****************** */

.footer-div{
    height: 50vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.social-media{
    grid-column: 1/ 4;
    grid-row: 3/ 4;
    display: flex;
    justify-content: space-around;

  
    
}
.social-media a{
    text-decoration: none;
    color: white
}
.social-media a:hover{
    color: rgb(116, 248, 239)
}


/* *************************  mobile size ***************************** */
@media (max-width: 760px){
    .toolbar-nav-items{
        display: none;
    }
    .collection-div{
        display: none;
    }
}

/* ****************************** desktope size  ******************** */

@media (min-width: 760px){
    .toggle-button{
        display: none;
    }
    .toolbar-nav-items >a{
        font-family: 'Oswald', sans-serif;
    }
    /* ******************** home ********** */
    .image-div{
        height: 15vh;
        width: 45vw;
        background-color: rgb(0, 255, 255);
        transform: skewY(20deg);
        
    }
    .image-div2{
        height: 15vh;
        width: 35vw;
        margin: 0 auto;
        background-color: rgb(255, 102, 0);
        /* transform: skewY(-20deg); */
        /* transform: rotate(-20deg); */
        grid-column: 3/4;
        grid-row: 3/ 4;
    }
    .image-div3{
        height: 50vh;
        width: 1vw;
        background-color: rgb(245, 162, 37);
        /* transform: skewY(20deg); */
        grid-column: 3/4;
        grid-row: 1/ 4;
        margin-right: 10px;

    }
    .image-div4{
        height: 50vh;
        width: 2vw;
        margin-left: 80px;
        margin-top: 100px;
        background-color: rgb(105, 221, 202);
        /* transform: skewY(20deg); */
        grid-column: 3/4;
        grid-row: 1/ 5;
        margin-right: 10px;
    }
    .image-div5{
        height: 50vh;
        width: 2vw;
        margin-left: 150px;
        margin-top: 250px;
        background-color: rgb(105, 221, 202);
        /* transform: skewY(20deg); */
        grid-column: 3/4;
        grid-row: 1/ 5;
        margin-right: 10px;
    }
    .skills-div{
        
        /* margin: 10px auto; */
        border: 2px solid white;
        height: 60vh;
        display: flex;
        flex-direction: row;
        box-shadow: 12px 6px 18px 0px rgba(110,145,142,0.2)
    }
    .skills-div >div{
        display: none;
        

    }
    .collection-sec {
        display: inline-block;
        /* height: 50vh;
        width: 20%; */
        margin: 70px;
        color: rgb(207, 174, 154);
        font-family: 'Oswald', sans-serif;
    }
    .collection-sec div{
        margin: 5px

    }
    /* **************** */
    .projects-div >h1{
        margin: 50px

    }
    .u-triv{
        margin-left: 100px
    }
    .instagram-clone-div{
        margin-left: 100px
    }
    
}