*{
    padding: 0;
    margin: 0;
}
.navbar{
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    /* it helps keep the bar top */
    background-color: transparent;
}
.toolbar-navigation{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}
.toolbar-logo{
    margin-left: 5px
}
.toolbar-logo a{
    color: white;
    text-decoration: none;
}
/* flex: 1 simply creates a space/gap between elements  */
.gap {
    flex: 1
}
.toolbar-nav-items a{
    text-decoration: none;
    color: white;
    margin: 5px;

}
.toolbar-nav-items a:hover,
.toolbar-nav-items a:active {
    color: salmon;

}
@media (max-width: 760px){
    .toolbar-nav-items{
        display: none;
    }
}


