/* -----------------------home-------------- */
.home-image-div{
    /* position: fixed; */
    background-image: url('../Images/graciealtonpark.jpg');
    background-size: cover;
    width: 100%;
    height: 50vh;
}
/* --------------------ImgCarousel -------------------------*/
/* .carousel-img1{
    background-image: url('../Images/graciecutiewater.jpg')

} */
.carousel-div{
    height: 200px;
}
/* ////////Section-hello-me//////// */
.hello-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 15px;

}
.hello-me h1{
    margin: 10px  
}
.hello-me p{
    text-align: center
}
.my-img {
    background-image: url('../Images/moipic.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    margin: 20px auto;
}
.hello-me a{
    text-decoration: none;
    color: rgb(131, 100, 22)

}
.learn-more {
    border: 1px solid ;
    padding: 10px;
}
/* -------------------section testimonials-------- */
.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonials p{
    font-size: 15px;
    margin: auto
}
.testimonials h2{
    color: rgb(75, 57, 12);
    margin: 20px;


}
.view-gallery{
    font-size: 15px;
    border: 1px solid ;
    padding: 10px;
    color: rgb(131, 100, 22);

    

}