body{
    background-color: firebrick;
}

p{  
    color: red(13, 13, 92);
    text-shadow: 10px;
    font-family: Geneva; 

}

#total {
    color: white    
}



.parentMarioDiv{
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 400px
    
}


#marioF{
    display: flex;
    justify-content: center;
    

}


.headPic{
    border-color: white;
    border: 5px solid white;
    border-radius: 30%;
    width: 70%
}

h1{
    color: white;
    font-family: geneva; 
    text-align: center;
    font-family: Verdana; 
    font-size:  50px;
    

}

.imgBtn{
    /* position: relative; */
    top: 100px;
    right: 0px;
    height: 100x;
    width: 100px;
   
}
.superM{
    position: absolute;
    width: 700px;
    top:0;
    margin-top: auto;
    margin-left: auto  
}
.mario{

    position: relative;
    display: flex;
    border-radius: 8px;
    padding: 5px;
    width:150px;
    z-index: 1;
   
}

.top {
    margin-top: 100px;

}

/* .container > div {

    background-color: blue

} */

.section{
    background-color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid red;
    border-radius: 50px;
    width: 50%;
    margin: 20px;
    margin-bottom: 30px;
    height: 70px;
    color: red;
    
}

.section:hover{
    transform: scale(1.5)
}

.input {
    width: 50px;
    color: blue;
    
 
}
 
button{
    background-color: darkblue;
    color: white;
    font-size: larger;
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px;
    /* position: relative; */
    display:  flex; 
    box-align: center ;
    position: relative;
    height: 70px;
}

.container{
    display: flex
}

#result{
    background-color: white;
    width: 100%
}

.btnDiv{
    display: flex;
    justify-content: center
}

#total {
    font-family: sans-serif;
    background-color: whitesmoke;
    opacity: 0.8 ;
    color: black;
    display: flex;
    text-align: center;



}

footer{
    text-align: center;
    padding: 20%
}

@media (max-width: 700px){
    .container{
        display: flex;
        flex-direction: column;
        align-items:center;
    
        


    }
}




/* input {
    display: iniline; 

    do list
    - center everything
    - change color of divs to red background color when mouth over
    and back to white when mouth is moved, the white border changes to red
    - animate the bad guy divs
    -
    -get a mario gif in the center above the mario pest control text
    -change the font for the names of the bad guys
    - style the out put box at the bottom and center it along with the submit button
    - 
    - /* @keyframes mario {
    0% {left: 0px; top: 0px;}
    100% {left: 500px; top: 0px;} 

} */



