*{
    margin:0;
    padding: 0;
}
.container-div{
    width:120vw;
    height: 120vh;
    display: grid;
    grid-template-columns: 90px 4fr;
    background-image: linear-gradient(to bottom right,rgb(250, 173, 186), white);

}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px  
}
.navbar a{
    text-decoration: none;
    color: grey;
    margin: 40px 20px 0 15px;
    border: 2px solid rgb(119, 116, 116);
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}

.home {
    width: 100vw;
    height: 100vh;
    /* background-image: url('https://images.unsplash.com/photo-1500534314209-a25ddb2bd429?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
    background-repeat: no-repeat;
    background-size: cover; */
   
    /* display: flex;
    justify-content: center;
    align-items: center */
    display: grid;
    grid-template-columns:  1fr 170px 200px 1fr;
    
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
}
.name-div{
    color: rgb(66, 64, 64);
    grid-column: 2/ 3;
    grid-row:2 /3;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    
    /* margin-left: 50px; */
      
}

.name-div h1{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 800px;
    letter-spacing: 2pt;
    font-size: 40px
    
    
}
.name-div h3{
    margin: 2px;
    border-bottom: 2px solid white;
    border-right:  8px solid white;
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    line-height: 100%
}
.moi-div{
    grid-column: 3/ 4;
    grid-row: 2 /3;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    border-bottom: 2px solid white;
    font-family: 'Oswald', sans-serif;

}
.moi-div p{
    margin: 0 5px 3px 10px;
}

.describe-div{
    grid-column: 3/ 4;
    grid-row: 3/ 4;
    border-left: 5px solid white;
    font-family: 'Oswald', sans-serif;
    
}
.describe-div h5{
    margin: 5px
}
.mongo-svg-div{
    /* transform: skewY(-5deg) */
    width: 50%;
}
.git-hub-svg{
    width: 50%;
}
.htmls-svg{
    width: 50%
}
.about {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center

}
.projects {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1505924804091-3425104e4947?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center
    
}

@media (max-width: 740px){
    .container-div{
        grid-template-columns: 1fr;
        width: 100vw;
        height: 100vh;

    }
    .navbar{
        display: none;

    }
    .navbar a{
        margin: 0;
    }
    .home{
        grid-column: 3 / 4;
        display: grid;
        grid-template-columns:   3fr 2fr 1fr
    }
    .name-div{
        grid-column:1 /2;
        justify-self: end;
        
    }
    .name-div h3{
        margin: 2px;
        border-right: 10px solid white;
        
         
    }
    .moi-div {
        grid-column: 2/ 3;
        grid-row: 2/3;
        display: flex;
        font-family: 'Oswald', sans-serif;  
    }
    
    .describe-div{
        grid-column: 2/ 3;
        grid-row: 3/ 4;  
         
    }
    .describe-div h5{
        margin: 5px
    }
    .skills-div{
        width: 100%;
        height: 100%;
        grid-column: 1/ 4;
        grid-row: 3/ 4; 
    }
    .css-svg{
        width: 10%;
        height: 15%;
    }
    svg:hover{
        fill: grey
    }
    .react-svg{
        width: 10%;
        height: 15%;
    }
    .react-svg >svg{
        fill: rgb(85, 175, 231);
    }
    .node-js {
        width: 10%;
        height: 15%;
    }
    svg:hover{
        fill: palevioletred
    }
    
    /* .node-js{
        width: 30vw;
        height: 30vh;
    } */
    .home-projects-overview{
        display: grid;
        width: 100%;
        height: 600px;

    }
    .home-css-zen{
        background: grey
    }
    .home-trivia{
        background-color: grey;
        border: 2px solid black
    }
    .home-business{
        background-color: grey;

    }

}
/* position fixed with top and right pixels will fix the 
element on top of everything else.
- always start from phone to desktop size
- use margin to get the lines closer to geter */
