/* .toggle-button {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    height: 40px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}
.toggle-button:focus {
    outline: none;
}
.toggle-btn-burger{
    width: 30px;
    height: 5px;
    background: rgb(78, 77, 77);

} */