/* .side-drawer {
    height: 100%;
    background: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: -500px;
    width: 900px;
    max-width: 400px;
    transition: 0.7s ease-out; */
    /* transform: translatex(-100%) */

/* }
.side-drawer.open {
    transform: translatex(0);
    left: 0px;

}
.sidedrawer-close-btn{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.side-drawer a{ */
    /* height: 100%; */
    /* text-decoration: none;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;

}

.side-drawer a:hover,
.side-drawer a:active {
    color: salmon;
} */

/* @media (min-width: 760px){
    .toolbar-navigation{
        display: none;
    }
} */
