*{
    padding: 0;
    margin: 0;
}

.nav-links{
    height: 150px;
    width: 100vw;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between
}
.nav-links >a{
    text-decoration: none;
}
.home-div{
    height: 700px;
}
.category-div{

    display: grid;
    grid-template-columns: 3fr 1fr;
    /* grid-auto-rows: 400px; */
    
}
.category-div >div{
    grid-column: 1/ 2;
    /* grid-row: 1/ 2; */
    width: 30%;
    height: 15%;
    padding: 30px;
    background-color: salmon;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
}
/* .question-div{
    height: 100px;
    width: 500px;
    background-color: lightpink;
}
.answer-div{
    height: 500px;
    width: 300px;
    background-color: lightpink;
} */

.card-div{
    margin: 70px;
    text-align: center;
    z-index: 0;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}
form{
    /* display: flex;
    flex-direction: column; */
    padding: 10px;

}
.hidebutton{
    display: none;
}
.correct-answer{
    width: 70vw;
    height: 50vh;
    z-index: 20;
    background-color: hsla(29, 48%, 83%, 0.102);
    border: 10px double rgb(226, 207, 207);
    border-radius: 10px;
    

}
.background-div{
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.8);
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    /* even if the vw and vh are stated we have to tell it where to begin hence top 0 and left 0 */

}
.footer-div{
    height: 150px;
    width: 100vw;
    background-color: lightcoral;
}