*{
    padding: 0;
    margin: 0;
}

.auth-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.auth-redirect-div {
    grid-column: 2/ 3;
    grid-row: 3;
    padding: 15px;
    /* border: 1px solid lightgrey; */
    /* border-radius: 50px; */
    margin: 5px auto;
    max-width: 150px;
    height: 15px
}
.auth-redirect-div p{
    font-size: 12px
}
.auth-redirect-div >span{
    color: blue;
}

.auth-form-div{
    grid-column: 2/ 3;
    grid-row: 2/ 3;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}
.auth-form-div >button{
    height: 30px;
    border: 1px solid lightgrey;
    /* border-radius: 50px; */
    margin: 20px;
    transition: 200ms
   
}
.auth-form-div >button:hover{
    color: rgb(0, 255, 234)
}
.auth-form-div >input{
    height: 20px;
    width: 200px ; 
    padding: 5px;
    margin: 5px
}
.signup-redirect-div {
    grid-column: 2/ 3;
    grid-row: 3;
    padding: 15px;
    /* border: 1px solid lightgrey; */
    /* border-radius: 50px; */
    margin: 5px auto;
    max-width: 200px;
    height: 15px;
    font-size: 12px

}
.head-div{
    text-align: center;
    margin: 10px;
}
.head-div p{
    font-size: 12px;
    margin-top: 10px;
}


/* _____________________BabyForm_________________________ */
.baby-form-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}
.baby-form-direct-div{
    grid-column: 2/ 3;
    grid-row: 2/ 3;
    margin-top: 70px;

}
.baby-form{
    display: flex;
    flex-direction: column;
    align-items: center
}
.baby-form >input{
    height: 20px;
    width: 200px ; 
    padding: 5px;
    margin: 5px
}
.baby-form >button{
    text-align: center;
}
.baby-form-direct-div h2{
    text-align: center;
    margin-bottom: 10px;
    
}
.baby-form >button{
    margin: 10px;
    height: 30px;
    max-width: 140px;
    padding: 10px
    
}
.babyNameLandingPage{
    grid-column: 2/ 3;
    grid-row: 3/ 7;
    /* margin-left: 50px; */

}
.babyNameLandingPage a{
    text-decoration: none;
    color: rgb(129, 98, 19);
    font-size: 15px;
    /* margin-left: 50px; */
}
/* **************** Baby Book Posts *************** */

/* ****************** Baby Profile***** */
.profile-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}
.profile-page >h1{
    grid-column: 1/ 2;
    margin: 0px 25px;
    color: rgb(88, 68, 15);
    font-size: 25px;
    text-align: center;
}
.baby-pro-img{
    margin: 50px 20px 0;
    width: 40vw;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 60%
}
.baby-prof-links{
    grid-column: 2/ 3;
    grid-row: 2/ 3;
    display: flex;
    flex-direction: column;
}
.baby-prof-links >a{
    text-decoration: none;
    color: rgb(58, 54, 54);
    font-size: 60px;
    margin: 25px

}
.baby-prof-links >a:hover{
    color: rgb(150, 110, 106)
}

/* *************** Post Form ******/
.post-form-div{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-form-div >input{
    margin: 5px;
    width: 200px;
    padding: 5px
}
.post-form-div >button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    background-color: 
}

/* ***************** Book Post ***************** */
.mapped-post-div{
    width: 100vw;
    height:100%;
    margin-top: 30px;

}
.babybookpost-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.baby-pro-img.post-page{
    /* border-radius: 0; */
    margin:0;
    width: 60%;
    height: 40vh;


}
.babybookpost-div{
    margin-top: 20px
}
.babybookpost-div >h1{
    margin: 10px;
    color: rgb(134, 101, 17)
}
.post-img-div{
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;

}